/* ----VARIABLES---- */
:root {
  --font-size: 25px;
  --font-size-header: 70px;
}
/* ----COMMON STYLES---- */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffefc1;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* ----HEADER---- */
.header {
  position: relative;
}

.header-upper {
  height: 292px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.header-upper::after {
  content: "";
  position: absolute;
  top: 292px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.header-upper__text {
  width: 60vw;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.title {
  display: block;
  margin: 23px 0 36px 35px;
  font-size: 20px;
  color: #000;
  font-family: 'Krona One', sans-serif;
}

.subtitle {
  margin-left: 35px;
  font-family: 'Crimson Pro', sans-serif;
  font-size: var(--font-size-header);
  font-weight: bold;
  color: #D8899E;
}

.header-upper__star {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.header-main {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

/*.description {
  margin: 0 0 45px 78px;
  font-family: 'Crimson Pro', sans-serif;
  font-size: 30px;
}*/

.menu {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 78rem;
  height: 156px;
  background-color: #D8899E;
  border: 1px solid #000;
}

.menu-background {
  position: absolute;
  top: 35px;
  left: 2rem;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.nav-title {
  font-family: 'Krona One', sans-serif;
  font-size: 20px;
}

.nav-link {
  font-family: 'Crimson Pro', sans-serif;
  font-size: 30px;
  color: #000;
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
}

/* ----СЛЕДУЮЩАЯ ОСТАНОВКА---- */
.section-header {
  position: relative;
  margin-top: 11rem;
  padding: 2rem 0;
  text-align: center;
  font-size: 4.375rem;
  font-weight: 800;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.trip-content {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.trip-content::after {
  content: "";
  position: absolute;
  top: 31rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.trip-content__description {
  flex: 1;
  width: 50%;
  max-width: 50vw;
  height: 31rem;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin-left: 1rem;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.block-title {
  margin: 1.5rem 0 1rem;
  font-size: 2.25rem;
  font-weight: 800;
}

.block-description {
  margin-bottom: 1.875rem;
  font-size: var(--font-size);
}

.trip-info {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.trip-info__item {
  display: flex;
  align-items: center;
}

.trip-info__item:first-child span:first-child {
  margin-right: 4.75rem;
}

.trip-info__item span:first-child {
  margin-right: 4.375rem;
  font-size: var(--font-size);
  color: #4F4F4F;
}

.trip-info__item span:last-child {
  font-size: 2.1875rem;
  font-weight: 700;
}

.get-program {
  margin-top: 3.375rem;
  width: 37.8125cqw;
  height: 4.5rem;
  background-color: #3A7352;
  color: #FAFAFA;
  font-size: var(--font-size);
}

.get-program:hover {
  cursor: pointer;
}

.trip-content__photo {
  position: relative;
  flex: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trip-content__photo::before {
  content: "";
  width: 25%;
  height: 1px;
  background: #000;
  top: 50%;
  right: 50px;
}

.trip-content__photo::after {
  content: "";
  width: 25%;
  height: 1px;
  background: #000;
  top: 50%;
  right: 20px;
}

.trip-content__photo img {
  width: 36vw;
  max-width: 640px;
}

/* ----О ПРОЕКТЕ---- */
.container__about {
  position: relative;
  margin-top: 2.5rem;
  margin-left: 0;
  width: 97vw;
  /* TODO Поменять цвет на корректный */
  background-color: #DA6E30;
  border: 1px solid #000;
}

.about-content {
  position: relative;
  padding: 2rem 0 2rem;
  display: flex;
}

.about-content__photo {
  flex: 1;
}

.about-content__photo img {
  width: 21.25rem;
  height: auto;
}

.about-content__description {
  flex: 1;
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content__description p:first-child {
  margin-bottom: 2rem;
}

.about-content__title {
  flex: 1;
  font-size: var(--font-size-header);
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-icon {
  position: absolute;
  right: 0.5rem;
}

.about-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin: 0 -15px;
  padding: 2rem 0;
  overflow: hidden;
}

.about-bar::before {
  content: "";
  height: 1px;
  background: #000;
  width: 102.1%;
  position: absolute;
  top: 0;
  left: 0;
}

.about-bar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  animation: scrollText 9s linear infinite;
  animation-timing-function: linear;
  animation-play-state: running;
  animation-delay: 0s;
  animation-direction: normal;
}

.about-bar__item span {
  font-size: 2.5rem;
  margin-right: 2rem;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container__about-background {
  position: absolute;
  top: 35px;
  left: 2rem;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #DA6E30;
  border: 1px solid #000;
  z-index: -1;
}

/* ----ПОЧЕМУ С НАМИ?---- */
.reasons {
  margin-top: 6rem;
}

.header__reasons {
  font-size: var(--font-size-header);
  font-weight: 800;
  text-align: center;
  color: #D8899E;
}

.benefits {
  margin-top: 4rem;
  padding-left: 2.625rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.benefits__item {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.benefits__item-img {
  width: 100%;
  max-width: 270px;
  height: 404px;
}

.benefit-description {
  width: 24.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.benefit-title {
  margin-bottom: 4rem;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.benefit-text__wrapper {
  padding: 1.5rem 0;
}
.benefit-text {
  font-size: var(--font-size);
}

.benefit-text__additional {
  margin-top: 2rem;
}

/* ----ЗАБРОНИРОВАТЬ МЕСТО---- */

.book-place {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: #3A7352;
  height: 40rem;
}

.book-place__text {
  margin: 0 auto;
  width: 100%;
  max-width: 68rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: #F5F5DC;
}

.book-place__btn {
  margin: 0 auto;
  width: 37.8125rem;
  height: 4.5rem;
  background-color: #D8899E;
  color: #FAFAFA;
  font-size: var(--font-size);
  font-weight: 400;
}

.book-place__btn:hover {
  cursor: pointer;
}

.book-place__icon {
  position: absolute;
}

.book-place__icon1 {
  bottom: 1%;
  left: 1%;
}

.book-place__icon2 {
  top: 0;
  right: 1%;
}

/* ----PARALLAX-блок---- */
.parallax-container {
  position: relative;
  margin-top: 6rem;
  padding-left: 25.5rem;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 4rem;
}

.parallax-item:nth-child(even) {
  padding-top: 10rem;
}

.container-video {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----КАК ПОСТРОЕН ТУР---- */
.trip-structure {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.trip-structure__text {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #000;
}

.trip-structure__photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
  max-height: 724px;
}

.trip-structure__photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 4.9rem;
  width: 1px;
  background: #000;
}

.trip-structure__photo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 4.9rem;
  width: 1px;
  background: #000;
}

.trip-structure__photo img {
  padding: 2rem;
}

.trip-structure__text:nth-child(odd) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.trip-structure__photo:nth-child(odd) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.trip-structure__text-title {
  margin: 2rem 0 2rem 2rem;
  font-size: 35px;
}

.trip-structure__text-item {
  margin-bottom: 3rem;
  display: flex;
  align-items: flex-start;
}

.trip-structure__text-item img {
  margin-top: 0.5rem;
}

.trip-structure__text-item div {
  font-size: var(--font-size);
  margin-left: 0.7rem;
}

/* ----ИЗ ЧЕГО СОСТОИТ СТОИМОСТЬ---- */
.section-header__orange {
  margin: 3rem 0;
  text-align: center;
  font-size: var(--font-size-header);
  font-weight: 800;
  color: #DA6E30;
}

.price-block {
  display: flex;
  gap: 3rem;
  background-color: #D8899E;
}

.price-block__item {
  flex: 1;
  padding: 4rem;
}

.price-title {
  margin-left: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 35px;
}

.price-description__item {
  margin-bottom: 3rem;
  display: flex;
  gap: 1rem;
}

.price-description__item div {
  font-size: var(--font-size);
}


/* ----НАСТАВНИКИ---- */
.trip-structure__coaches {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.section-header__couches {
  font-size: 60px;
}

.trip-structure__text-item__couch {
  margin-bottom: 2rem;
}

.couch-photo {
  max-height: 660px;
}

.trip-structure__photo-couch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 3.3rem;
  width: 1px;
  background: #000;
}

.trip-structure__photo-couch::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3.2rem;
  width: 1px;
  background: #000;
}

/* ----REVIEWS---- */
.review-container {
  display: flex;
  width: 100%;
  height: 50vh;
  gap: 5rem;
  overflow: hidden;
}

.review-item {
  display: flex;
  width: 100%;
}

.review {
  margin-left: 2rem;
  width: 566px;
}

.review__title {
  margin-bottom: 1.5rem;
  font-size: 35px;
}

.review__text {
  font-size: var(--font-size);
}

/* ----ACCORDEON---- */
.accordeon {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accordeon__item {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.fa-plus:hover {
  cursor: pointer;
}

.accordeon__item-header {
  font-size: 2.5rem;
}

.accordeon__item-body {
  display: none;
}